---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

const modules = import.meta.glob("../content/posts/*.md", { eager: true }) as any;
const posts = Object.values(modules).map((m:any) => m.frontmatter).sort((a:any,b:any)=> new Date(b.date).getTime() - new Date(a.date).getTime());
const featured = posts[0];
---

<BaseLayout title="ML Mondays">

<div class="flex justify-between items-center w-full my-6">
  <img src="/uploads/banner.png" class="w-full max-w-4xl mx-auto select-none" draggable="false" />
</div>

  <h1><b># ML MONDAYS</b></h1>
  <p>ML Mondays is a curated space for learning, curiosity, and thoughtful writing
around Machine Learning and Artificial Intelligence.

Whether you're just beginning your ML journey or diving deep into advanced ideas,
our goal is to make complex concepts clear, meaningful, and inspiring — one Monday at a time.
</p>

  <hr/>

  {posts.map((post: any) => (
    <section>
      <h2>
        <a href={`/posts/${post.slug}`}>
          {post.title}
        </a>
      </h2>

      <p class="text-sm text-gray-500">
        {post.date} • {post.read_time}
      </p>

      <div class="grid grid-cols-5 gap-4 mt-3">
        <img src={post.hero_image} class="rounded border col-span-1"/>

        <div class="col-span-4">
          <p>{post.description}</p>
          <a href={`/posts/${post.slug}`} class="underline">
            Read more →
          </a>
        </div>
      </div>

      <hr/>
    </section>
  ))}
</BaseLayout>
